@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Web App using Azure SQL DB</h1>
    <p class="lead">This Web App uses Azure SQL DB and is configured to use AAD for Role Claims</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This is a Web App configured with Azure AD Role Claims. </h2>
        <p>
            This Web App uses an Azure SQL Database. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>    
</div>